@tailwind base;
@tailwind components;
@tailwind utilities;

button:focus {
    outline: none;
}

.view-button {
    min-width: 107px;
    max-width: 107px;
    min-height: 40px;
    max-height: 40px;
}

.top-1 {
    top: 1rem;
}

.right-1 {
    right: 1rem;
}

.left-1 {
    left: 1rem;
}

.bottom-1 {
    bottom: 1rem;
}
.bottom-half {
    bottom: .5rem;
}

.min-h-1 {
    min-height: 600px;
}

.max-w-1 {
    max-width: 600px;
}

.select-bg {
    background-repeat: no-repeat;
    background-position-x: 97%;
    background-position-y: center;
    background-size: 20px;

    background-image: url('../media/down-arrow.svg')
}

.danger {
    background-color: #d9534f !important;
}

.green {
    background-color: #5bb85c !important;
}